.sliderContainer{
    width: 90% ;
    margin: 2rem auto;
    height: 300px;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.slider-container img {
    border-radius: 10px;
    width: 100%;
    border: 9px solid red ;
}

.serviceCard{
    border: 1px solid #078586;
}

.serviceName{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    /* color: #078586; */
}